<h1 mat-dialog-title>Hi {{message}}</h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col">
            <mat-form-field>
                <mat-label>Enter Registered Mobile No</mat-label>
                <input type="number" matInput [(ngModel)]="phoneNo">
            </mat-form-field>
        </div>
        <div class="col">
            <button [disabled]="!phoneNo" class="btn-info btn-sm" *ngIf="true" (click)="checkPhoneNo()"><span *ngIf="spinner"><span
                        class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    Loading...</span><span *ngIf="!spinner">Check Phone No</span></button>
        </div>
    </div>
    <mat-form-field>
        <mat-label>Enter Password</mat-label>
        <input type="password" [disabled]="!phoneNoChecked" matInput [(ngModel)]="pass">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input type="password" [disabled]="!phoneNoChecked" matInput [(ngModel)]="confirmPass">
    </mat-form-field>
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        At least 8 characters with mix of upperCase & lowerCase letters,numbers & symbols
    </small>
    <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
</div>
<div mat-dialog-actions align="center">
    <button [disabled]="!phoneNoChecked" mat-raised-button class="btn-success btn-sm" (click)="changePassword()" tabindex="1"><span *ngIf="spinnerChangePass"><span
                class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Loading...</span><span *ngIf="!spinnerChangePass">Update</span></button>
    <button mat-raised-button mat-dialog-close tabindex="-1" class="btn-danger btn-sm">Cancel</button>
</div>