.body{
    background: url('../assets/efil.jpeg') no-repeat center;
    height: 100%;
    background-size: cover;
    background-position: top center;
  }

  .iconpos{
    position: relative; 
    top: -5px;
}

.color{
  background-color: red;
}
.divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-right: 1px solid #f0eded;
  border-left: 1px solid #f0e9e9;
}

.body{

  background: url(../assets/images/cricket.jpg);
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}